* {
    box-sizing: border-box;
    font-family: cursive;
  }

body {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #c0c0c0;
}

header {
    text-align: center;
}

h2 {
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px;
    display: flex;
    text-align: center;
    font-weight: bold;
    background-color: #696969;
    color: black;
    margin: 0 auto;
}

.startBtn {
    font-size: xx-large;
    font-weight: bolder;
    padding: 10px;
}

.startBtn:hover {
    border-color: black;
}

.container {
    width: 800px;
    max-width: 80%;
    margin: 0 auto;
    background-color: cornsilk;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px 5px;
}

.container h1 {
    font-size: 22px;
    font-weight: bolder;
    color: black;
    text-align: center;
    border-radius: 20px;
}

.container #question {
    font-size: 22px;
    text-align: center;
    color: black;
}

.container footer {
    font-size: 18px;
    text-align: center;
}

#btn1, #btn2, #btn3, #btn4 {
    background-color: #696969;
    color: black;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0 0 3px 3px;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover {
    border-color: black;
}

#btn1:focus, #btn2:focus, #btn3:focus, #btn4:focus {
    outline: 0;
}

#progress {
    color: black;
    font-size: 18px;
    text-align: center;
}
